.small-container {
    .row {
        .col-2 {
            img {
                width: 100%;
            }
        }
    }
}

.single-product {
    margin-top: 80px;

    .col-2 {
        padding: 20px;
        img {
            padding: 0;
        }

    }

    h4 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }

    select {
        display: block;
        padding: 10px;
        margin-top: 20px;
    }

    input {
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #ff523b;

        &:focus {
            outline: none;
        }
    }

    .fa {
        color: #ff523b;
        margin-left: 10px;
    }

    .small-img-row {
        display: flex;
        justify-content: space-between;
    }

    .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
    }
}