@media only screen and (max-width: 800px) {
    .container{

        .navbar {
            nav {
                ul {
        
                    position: absolute;
                    top: 70px;
                    left: 0;
                    background: #333;
                    width: 100%;
                    overflow: hidden;
                    transition: max-height .5s;
        
                    li {
                        display: block;
                        margin-right: 50px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        
                        a {
                            color: white;
                        }
                    }
                }
        
            }
        
    
            .menu-icon {
                display: block;
                cursor: pointer;
            }
        }
    }
    
}

@media  (max-height: 600px) {
    .cart-info {
        p {
            display: none;
        }
    }
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    .single-product {
        .row {
            text-align: left;
        }

        .col-2 {
            padding: 20px 0;
        }

        .single-product h1 {
            font-size: 26px;
            line-height: 32px;
        }
    }

    
    
}